.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: rgb(7, 179, 121);
}

.logo h1 {
    margin: 0;
    color: purple;
}

.logo h1 span {
    color: gold;
}

.nav a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
}

.nav a:hover {
    color: gold;
}